
@{
    ViewBag.Title = "Ejemplo";
}


<h1>Esto es un ejemplo de navegacion</h1>



@section JavaScript{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
 

}