
@{
    ViewBag.Title = "Index";
}

<h2>Crear Cliente</h2>

<div id="content" ng-controller="CustomerController">
    <span ng-show="isViewLoading" class="viewLoading">
        <img src="~/Content/images/ng-loader.gif" /> loading...
    </span>
    <div ng-class="result">{{message}}</div>
    <hr />
    <form ng-submit="submitForm()" name="frmCustomer">
        <div>
            <label for="email">Nombre del cliente</label>
            <input type="text" ng-model="cust.CustName" name="cname" placeholder="Introduzca su nombre" required ng-minlength="4" ng-maxlength="15" />
            <span class="error" ng-show="(frmCustomer.cname.$dirty||submitted) && frmCustomer.cname.$error.required">se requiere nombre de usuario!</span>
            <span class="error" ng-show="frmCustomer.cname.$dirty && frmCustomer.cname.$error.minlength">La cantidad minima de caracteres es 4</span>
            <span class="error" ng-show="frmCustomer.cname.$dirty && frmCustomer.cname.$error.maxlength">La longitud maxima es de 15 caracteres!</span>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="email" ng-model="cust.CustEmail" name="email" placeholder="Introduzca su Email" required />
            <span class="error" ng-show="(frmCustomer.email.$dirty||submitted) && frmCustomer.email.$error.required">Se requiere un email!</span>
            <span class="error" ng-show="(frmCustomer.email.$dirty ||submitted) && frmCustomer.$error.email">Ese email no es correcto!</span>
            <h1>El email es: {{frmCustomer.email.$valid}}</h1>
        </div>
        <div>
            <label for="email">Dirección del cliente</label>
            <input type="text" ng-model="cust.CustDir" name="dir" placeholder="Introduzca su direccion" required ng-minlength="4" required />
            <span class="error" ng-show="(frmCustomer.dir.$dirty||submitted) && frmCustomer.dir.$error.required">se requiere la direccion!</span>
            <span class="error" ng-show="frmCustomer.dir.$dirty && frmCustomer.dir.$error.minlength">La cantidad minima de caracteres es 4</span>
            <span class="error" ng-show="frmCustomer.dir.$dirty && frmCustomer.dir.$error.maxlength">Minimum length required is 15</span>
    
        </div>
        <div ng-app="">
            <form>
                Haz clicl para enseñar un texto:
                <input type="checkbox" ng-model="myVar">
            </form>
            <h1 ng-show="myVar">Mi Ejemplo</h1>
        </div>

        <div>

           

                <p>Select a car:</p>

                <select ng-model="cars.selectedCar" ng-options="x  in cars">
                </select>

                <h1>has seleccionado: {{cars.selectedCar.brand}}</h1>
                <h2>Modelo: {{cars.selectedCar.model}}</h2>
                <h3>Color: {{cars.selectedCar.color}}</h3>

                <p>Note that the selected value represents an object.</p>
           
            <input type="submit" value="Submit" ng-disabled="myForm.$invalid">
        </div>

    </form>
</div>

@section JavaScript{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/ControllersNg/CustomerController.js"></script>
}

<style>

    #content label {
        width: 150px;
    }

    #content input[type=submit] {
        margin-left: 154px;
        width: 120px;
        padding: 5px 15px;
        background: #ff6a00;
        border: 0 none;
        cursor: pointer;
        color: #fff;
    }

    .error {
        color: red;
    }

    .color-default {
        color: #000;
    }

    .color-red {
        color: red;
    }

    .color-green {
        color: green;
    }

    #content input.ng-dirty.ng-invalid {
        border: 1px solid red;
        background-color: rgb(255, 244, 244);
    }
</style>