
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2>Crear Cliente</h2>

<div id="content" ng-controller="CustomerController">
    <span ng-show="isViewLoading" class="viewLoading">
        <img src="~/Content/images/ng-loader.gif" /> loading...
    </span>
    <div ng-class="result">{{message}}</div>
    <hr />
    <form ng-submit="submitForm()" name="frmCustomer">
        <div>
            <label for="email">Nombre del cliente</label>
            <input type="text" ng-model="cust.CustName" name="cname" placeholder="Introduzca su nombre" required ng-minlength="4" ng-maxlength="15" />
            <span class="error" ng-show="(frmCustomer.cname.$dirty||submitted) && frmCustomer.cname.$error.required">se requiere nombre de usuario!</span>
            <span class="error" ng-show="frmCustomer.cname.$dirty && frmCustomer.cname.$error.minlength">La cantidad minima de caracteres es 4</span>
            <span class="error" ng-show="frmCustomer.cname.$dirty && frmCustomer.cname.$error.maxlength">La longitud maxima es de 15 caracteres!</span>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="email" ng-model="cust.CustEmail" name="email" placeholder="Introduzca su Email" required />
            <span class="error" ng-show="(frmCustomer.email.$dirty||submitted) && frmCustomer.email.$error.required">Se requiere un email!</span>
            <span class="error" ng-show="(frmCustomer.email.$dirty ||submitted) && frmCustomer.$error.email">Ese email no es correcto!</span>
            <h1>El email es: {{frmCustomer.email.$valid}}</h1>
        </div>
        <div>
            <label for="email">Dirección del cliente</label>
            <input type="text" ng-model="cust.CustDir" name="dir" placeholder="Introduzca su direccion" required ng-minlength="4" required />
            <span class="error" ng-show="(frmCustomer.dir.$dirty||submitted) && frmCustomer.dir.$error.required">se requiere la direccion!</span>
            <span class="error" ng-show="frmCustomer.dir.$dirty && frmCustomer.dir.$error.minlength">La cantidad minima de caracteres es 4</span>
            <span class="error" ng-show="frmCustomer.dir.$dirty && frmCustomer.dir.$error.maxlength">Minimum length required is 15</span>

        </div>

        <form>
            Haz clicl para enseñar un texto:
            <input type="checkbox" ng-model="myVar">
        </form>
        <h1 ng-show="myVar">Mi Ejemplo</h1>






        <p>Select a car:</p>

        <select ng-model="selectedCar" ng-options="y.brand for (x, y) in cars">
        </select>

        <h1>has seleccionado: {{selectedCar.brand}}</h1>
        <h2>Modelo: {{selectedCar.model}}</h2>
        <h3>Color: {{selectedCar.color}}</h3>
</div>

<p>Note that the selected value represents an object.</p>

<div ng-controller="myCrtl" class="w3-card-2 w3-margin" style="max-width:400px;">
    <header class="w3-container w3-light-grey w3-padding-16">
        <h3>My Shopping List</h3>
    </header>
    <ul class="w3-ul">
        <li ng-repeat="x in products" class="w3-padding-16">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
    </ul>
    <div class="w3-container w3-light-grey w3-padding-16">
        <div class="w3-row w3-margin-top">
            <div class="w3-col s10">
                <input placeholder="Add shopping items here" ng-model="addMe" class="w3-input w3-border w3-padding">
            </div>
            <div class="w3-col s2">
                <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
            </div>
        </div>
        <p class="w3-text-red">{{errortext}}</p>
    </div>
</div>
<div ng-controller="myService">
    <p>hora actual:</p>

    <h1>{{theTime}}</h1>

</div>



<input type="submit" value="Submit" ng-disabled="myForm.$invalid">


    </form>




@section JavaScript{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/ControllersNg/CustomerController.js"></script>
    <script src="~/app/app.js"></script>

}

<style>

    #content label {
        width: 150px;
    }

    #content input[type=submit] {
        margin-left: 154px;
        width: 120px;
        padding: 5px 15px;
        background: #ff6a00;
        border: 0 none;
        cursor: pointer;
        color: #fff;
    }

    .error {
        color: red;
    }

    .color-default {
        color: #000;
    }

    .color-red {
        color: red;
    }

    .color-green {
        color: green;
    }

    #content input.ng-dirty.ng-invalid {
        border: 1px solid red;
        background-color: rgb(255, 244, 244);
    }
</style>